<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <title>Dashboard</title>
</head>
<body>

    <h1>Here is your dash board!</h1><br>

    <button><a href="./post.html">Post Something</a></button><br><br>
    <button><a href="./friend.html">Add a friend</a></button><br><br>

    <button onclick="logout()">Log out</button>
    
    <script src="../js/logout.js"></script>
    <script src="../js/fetch.js"></script>

</body>
</html>