<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <title>Login</title>
</head>
<body>
    <h1>Sign In</h1>
    <div>
        <form id="loginform">
            <p>Username:</p><input name="username" type="text" class="validate" required>
            <p>Password:</p><input name="password" type="password" class="validate" required>
        </form>
    </div>
    <br>
    <div>
        <button onclick="login()">Sign in</button>
    </div>
    <br>
    <div>
        <p>No account yet? <a href="register.html">Sign up!</a></p>
    </div>
</body>

<script src="../js/login.js"></script>
<script src="../js/fetch.js"></script>

</html>