<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>

    <p>Esta es la pagina de registro</p> <br>

    <p>Probando comunicacion con el servidor.</p>

    <p>Enviar un simple mensaje y recibir la respuesta</p>

    <button id="primero">Enviar</button>
    
<script>

    function $(id) {
    return document.getElementById(id);
    }

    function primerEjemplo(){

        fetch("./registration") 

    }



</script>    

</body>
</html>