<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/jquery/jquery-3.3.1.min.js"></script>
    <title>Registration</title>
</head>
<body>

    <h1>Sign up</h1>

    <div>
        <form enctype="application/json" id="registerForm">

        <p>Name:</p><input name="name" type="text" class="validate" required>
        <p>Last Name:</p><input name="lastname" type="text" class="validate" required>
        <p>Email:</p><input name="email" type="email" class="validate" required>
        <p>Username:</p><input name="username" type="text" class="validate" required>
        <p>Password:</p><input name="password" type="password" class="validate" required>
        <p>Birthday:</p><input name="birthday" type="date" class="validate" required>
        <p>Gender:</p>
        <input type="radio" name="user_sex" value="male" required>Male<br>
        <input type="radio" name="user_sex" value="female" required>Female<br>
        <input type="radio" name="user_sex" value="undefined" required>Undefined<br>
        <input type="radio" name="user_sex" value="other" required>Other
        </form>

    </div>

    <div>
        <button onclick="register()"class="btn">Register</button>
    </div>
    
    <div>
        <p>Already an user? <a href="login.html">Sing in!</a></p>
    </div>
    
<script src="../js/fetch.js"></script>
<script src="../js/register.js"></script>    

</body>
</html>